.menu__item{
	
	&:last-child{
		margin-right: 0;
	}
}

.menu__link{
	
	&:focus, &:hover{
		color: #bc1f1f;
	}
}

@media screen and (min-width: 921px){
	
	.menu__item{
		display: inline-block;
		margin-right: .8em;
	}
}

@media screen and (max-width: 920px) and (min-width: 641px){
	
	.menu__item{
		display: inline-block;
		margin-right: 0.8em;
	}
}

@media screen and (max-width: 640px){

	.footer .menu{
		display: none;
	}
	
	.menu__item{
		display: block;
	}
}

@media screen and (min-width: 641px){
	
	.menu__link{
		font-size: 1.4rem;
	}
	
	.footer .menu{
		margin-bottom: 10px;
	}
}