.pagination{
	margin-top: 10px;
	text-align: center;
}

.pagination__arrow-prev, .pagination__arrow-next{
    display: inline-block;
    width: 14px;
    height: 26px;
    text-indent: -9999px;
	vertical-align: middle;
}

.pagination__link_active{
	color: #003382;
	font-weight: bold;
}

.pagination__arrow-prev{
	.path("icons/icons.png");
	background-position: 0 -126px;
}

.pagination__arrow-next{
	.path("icons/icons.png");
	background-position: -21px -126px;
}

.pagination__inner{
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	margin-right: 12px;
}

.pagination__link{
	display: inline-block;
	font-size: 1.8rem;
	margin-right: 12px;
}

@media screen and (min-width: 641px){

	pagination__link:last-child{
		margin-right: 0;
	}
}

@media screen and (max-width: 640px){

	.pagination__link:nth-child(n+5){
		display: none;
	}
	
	.pagination__link:nth-child(n+4){
		margin-right: 0;
	}
}
