.product{
	display: inline-block;
	margin-bottom: 3.1em;
	vertical-align: top;
	margin-left: 2.25em;
}

@media screen and (min-width: 921px){
	
	.product{
		width: 30%;
	
		&:nth-child(3n+1){
			margin-left: 0;
		}
	}
	
	.product__description{
		line-height: 1.5rem;
	}
	
	.product__price{
		font-size: 1.8rem;
		margin-top: 6px;
	}
	
	.product__sticker{
		height: 80px;
		width: 80px;
		border-radius: 50%;
		right: 0;
		font-size: 1.5rem;
	}
	
	.product__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	
	.product__description{
		text-align: left;
	}
}
@media screen and (max-width: 921px){

	.product__sticker{
		right: -25px;
		text-align: center;
		font-size: 1.3rem;
		padding: 5px 10px;
	}
}
@media screen and (max-width: 921px) and (min-width: 641px){
	
	.product{
		width: 30%; 
	
		&:nth-child(3n+1){
			margin-left: 0;
		}
	}
	
	.product__description{
		line-height: 2rem;
	}
	
	.product__price{
		font-size: 2.1rem;
		margin-top: 4px;
	}
}

@media screen and (max-width: 640px){
	
	.product{
		width: 43%; 
	}
	
	.product__description{
		line-height: 2.2rem;
	}
	
	.product__price{
		font-size: 2.4rem;
		margin-top: 3px;
	}
}


@media screen and (max-width: 480px){
	
	.product{
		width: 88%; 
	}
	
	.product__description{
		text-align: left;
		font-size: 1.4rem;
	}
	
	.product__preview {
		display: inline-block;
	}
}
	
.product__img{
	max-width: 100%;
	height: auto;
}

.product__sticker{
    position: absolute;
    font-weight: bold;
    top: 0;
    text-align: center;
}

.product__sticker-stock{
    background-color: #ffb400;
}

.product__sticker-leader {
    background-color: #002669;
    color: #fff;
}

.product__link{
	display: block;
	color: #003280;
	position: relative;
}

.product__info{
	margin-top: 11px;
}

.product__description{
	text-decoration: underline;
	margin-top: 12px;
}

.product__price, .product__add-basket{
	display: inline-block;
}

.product__price{
	float: left;
	color: #fb9f18;
	font-weight: bold;
}

.product__add-basket{
	float: right;
	.path("icons/icons.png");
	background-position: 0 -82px;
	width: 33px;
	height: 26px;
	
	&:hover, &:focus{
		opacity: 0.5;
	}
}