.field{
	width: 81%;
	background-color: #d2d2d2;
	outline: none;
	border: none;
	height: 18px;	
	padding-left: 5px;
	padding-right: 5px;
	float: right;
}
@media screen and (max-width: 799px){

	.search{
		width: 20%;
	}
}

@media screen and (min-width: 800px){

	.search{
		width: 25%;
	}
	
	.search__button{
		border-radius: 0 4.15em 4.15em 0;
	}
}

@media screen and (max-width: 675px){

	.field{
		display: none;
	}
}

.search__button{
	background-color: @color-bg-or;
	float: right;
	background-image: @color-gradient;
	width: 25px;
	height: 18px;
	text-indent: -9999px;
	position: relative;
	
	&:before{
		.path("icons/icons.png");
		background-position: 0 -80px;
		background-repeat: no-repeat;
		position: absolute;
		content: "";
		width: 16px;
		height: 15px;
		left: 4px;
	}
	
	&:hover:before, &:focus:before{
		background-position: -20px -80px;
	}
}