.page {
    padding-bottom: 18.75em;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.main-container{
	max-width: 940px;
	min-width: 100px;
	margin: 0 auto;
	padding-left: 0.85em;
	padding-right: 0.85em;
}