.page {
    padding-bottom: 225px;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.main-container{
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}