.logo{
	float: left;
	margin-top: 5px;
}
.font-large{
	font-size: 40px;
	color: #fb9f18;
}
.contacts{
	width: 240px;
	margin-right: 70px;
	font-size: 20px;
	float: right;
	margin-top: 10px;
}

.telephone, .address{
	display: block;
	color: #00378a;
	float: right;
}

.address{
	margin-top: 5px;
}