.logo{
	max-width: 100%;
	height: auto;
	
}

.header__logo{
	width: 32%;
	float: left;
	margin-top: 5px;
}
.font-large{
	color: #fb9f18;
}

.contacts{	
	width: 24.56%;
	float: right;
	margin-top: 0.45em;
}

@media screen and (min-width: 800px){

	.contacts{
		margin-right: 3.5em;
		font-size: 2rem;
	}
	
	.font-large{
		font-size: 4rem;
	}
}

@media screen and (max-width: 799px){

	.contacts{
		margin-right: 2em;
		font-size: 1.5rem;
	}
	
	.font-large{
		font-size: 3rem;
	}
}

@media screen and (max-width: 605px){

	.contacts{
		display: none;
	}
}

.telephone, .address{
	display: block;
	color: #00378a;
	text-align: right;
}

.address{
	margin-top: 0.4em;
}