.top-panel{
	background-color: @color-bg-grey;
	padding-top: 14px;
	padding-bottom: 14px;
	min-width: 100px;
	max-width: 100%;
}

.top-panel__menu{
	float: left;
}
	
.top-panel__search{
	float: right;
}

.menu-checkbox{
	display :none;
}

@media screen and (max-width: 920px){

	.top-panel__menu-list{
		padding-top: 5px;
	}
}

@media screen and (max-width: 640px){

	.top-panel__menu-list{
		display: none;
	}
	
	.menu__link:focus, .menu__link:hover {
		background-color: #000;
		text-decoration: none;
		color: #fff;
	}
	
	.top-panel__menu{
		padding-top: 2px;
		padding-left: 5px;
	}
}