/*
*Общие стили
*/
/*������ �������� � ���������� ���������*/
/*������ ���� �������� � ����������� ���������*/
/*������ ��� ������� ������ � �������*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #000;
  background: #fff;
  background-image: linear-gradient(0deg, #a4c7ea 0%, #e3ecf4 100%);
}
ul {
  list-style: none;
}
.button {
  border: none;
  outline: none;
  cursor: pointer;
}
/*
*Типографика
*/
a {
  color: #222222;
  text-decoration: none;
}
a:focus {
  color: #bc1f1f;
  outline: none;
}
a:hover {
  color: #bc1f1f;
}
.title {
  font-size: 2.2rem;
  color: #002e79;
}
/*
*Файлы для облегчения работы польователя
*/
/*
*каскад для предотвращения "схлопывания"
*/
.clear:after {
  content: "";
  display: block;
  clear: both;
}
/*
*������� ����������� �������� ���� � ���������
*/
/*
*Каркасы основных блоков
*/
.top-panel {
  background-color: #ededed;
  padding-top: 1.15em;
  padding-bottom: 1.15em;
  min-width: 100px;
  max-width: 960px;
}
.top-panel__menu {
  float: left;
}
@media screen and (max-device-width: 769px) {
  .top-panel__menu-list {
    display: none;
  }
  .top-panel__menu {
    background-image: url("../images/icons/menu-hamburger.png");
    width: 32px;
    height: 32px;
  }
}
.top-panel__search {
  float: right;
}
.logo {
  float: left;
  margin-top: 0.45em;
}
.font-large {
  color: #fb9f18;
}
.contacts {
  width: 24.46%;
  float: right;
  margin-top: 0.45em;
}
@media screen and (min-device-width: 769px) {
  .contacts {
    margin-right: 3.5em;
    font-size: 2rem;
  }
  .font-large {
    font-size: 4rem;
  }
}
@media screen and (max-device-width: 768px) {
  .contacts {
    margin-right: 2em;
    font-size: 1.5rem;
  }
  .font-large {
    font-size: 3rem;
  }
}
.telephone,
.address {
  display: block;
  color: #00378a;
  float: right;
}
.address {
  margin-top: 0.4em;
}
.content {
  float: right;
  padding: 1.6em 2.2em 2.5em;
  border-radius: 2.5em;
  background-color: #fff;
}
@media screen and (min-device-width: 768px) {
  .content {
    width: 67.72%;
  }
}
.sidebar {
  padding: 2.7em 2.5em 2.6em 1.2em;
  line-height: 2em;
  float: left;
  border-radius: 2.5em;
  background-color: #ff9600;
  background-image: linear-gradient(0deg, #ff9600 0%, #ffc600 100%);
  width: 18.61%;
}
.footer {
  background-color: #ededed;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 100px;
  padding: 1.65em 0;
}
.footer__info {
  margin-top: 2.1em;
  color: #584c3d;
}
.copyright {
  float: left;
}
.footer__cms {
  float: right;
}
.page {
  padding-bottom: 18.75em;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}
.main-container {
  max-width: 940px;
  min-width: 100px;
  margin: 0 auto;
  padding-left: 0.85em;
  padding-right: 0.85em;
}
/*
*Компоненты страницы
*/
.menu__item {
  display: inline-block;
  margin-right: 1.8em;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 1.2rem;
}
/*
* Панель серивисов
*/
.services {
  margin-top: 2.2em;
  margin-bottom: 1.95em;
}
.services__list {
  padding: 0.65em 2.65em 0.65em 4em;
  background-color: #ff9600;
  border-radius: 2.5em;
  background-image: linear-gradient(0deg, #ff9600 0%, #ffc600 100%);
}
.service {
  display: block;
  text-align: center;
}
.services__item {
  padding-left: 0.45em;
  padding-right: 0.45em;
  width: 18.1%;
  float: left;
  border-right: 1px solid #ffe17d;
  border-left: 1px solid #b28500;
}
.services__item:first-child {
  border-left: none;
}
.services__item:last-child {
  border-right: none;
}
@media screen and (max-device-width: 768px) {
  .services__item {
    min-height: 83px;
  }
}
.service__icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 88px;
  height: 52px;
  display: inline-block;
}
.service__icon-1C {
  background-image: url("../images/decore/icon-1c.png");
}
.service__icon-bookkeeping {
  background-image: url("../images/decore/icon-accountant.png");
}
.service__icon-equipment {
  background-image: url("../images/decore/icon-equipment.png");
}
.service__icon-software {
  background-image: url("../images/decore/icon-software.png");
}
.service__icon-IT {
  background-image: url("../images/decore/icon-service.png");
}
.service__description {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}
/*
*категории сайд-бара
*/
@media screen and (max-device-width: 768px) {
  .sidebar {
    display: none;
  }
}
.categories {
  line-height: 2em;
}
.subcategory {
  line-height: 1.25em;
  margin-left: 2.5em;
}
.subcategory__item {
  margin-bottom: 1.15em;
}
.subcategory__item:last-child {
  margin-bottom: 0;
}
.basket {
  position: relative;
  width: 220px;
  text-align: center;
}
.basket__header {
  float: right;
}
.basket__inner {
  min-height: 4.4em;
  padding-top: 0.45em;
  background-color: #ff9600;
  background-image: linear-gradient(0deg, #ff9600 0%, #ffc600 100%);
  margin-bottom: 1.8em;
}
.basket__inner:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 110px 0 110px;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #ff9600;
  left: 0;
}
.identification {
  margin-top: 0.9em;
  font-size: 1.8rem;
}
.cart {
  font-size: 3rem;
}
.pagination {
  margin-top: 0.8em;
  text-align: center;
}
.arrow-prev,
.arrow-next {
  display: inline-block;
  width: 14px;
  height: 26px;
  text-indent: -9999px;
  vertical-align: middle;
}
.pagination__link_active {
  color: #003382;
}
.arrow-prev {
  background-image: url("../images/icons/icons.png");
  background-position: 0 -126px;
}
.arrow-next {
  background-image: url("../images/icons/icons.png");
  background-position: -21px -126px;
}
.pagination__inner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
  margin-right: 1em;
}
.pagination__link {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 1em;
}
.pagination__link:last-child {
  margin-right: 0;
}
.product {
  display: inline-block;
  margin-bottom: 3.1em;
  vertical-align: top;
}
@media screen and (min-device-width: 768px) {
  .product {
    width: 30.20%;
    margin-left: 2.25em;
  }
  :nth-child(3n+1) {
    margin-left: 0;
  }
}
@media screen and (max-device-width: 768px) {
  .product {
    width: 45%;
    margin-left: 5.5em;
  }
  :nth-child(2n+1) {
    margin-left: 0;
  }
}
.product__link {
  display: block;
  color: #003280;
}
.product__preview {
  position: relative;
  text-align: center;
}
.product__stock,
.product__leader {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6.6em;
  height: 6.6em;
}
.product__stock {
  background-image: url("../images/icons/icons.png");
  background-position: 0 0;
}
.product__leader {
  background-image: url("../images/icons/icons.png");
  background-position: 80px 0;
}
.product__info {
  margin-top: 11px;
}
.product__description {
  text-decoration: underline;
  margin-top: 0.9em;
  line-height: 1.65em;
}
.product__price,
.product__add-basket {
  display: inline-block;
}
.product__price {
  float: left;
  color: #fb9f18;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0.95em;
}
.product__add-basket {
  float: right;
  background-image: url("../images/icons/icons.png");
  background-position: 0 -97px;
  width: 35px;
  height: 27px;
}
.search {
  width: 26.38%;
}
.field {
  outline: none;
  border: none;
  height: 1.4em;
  width: 79.28%;
  background-color: #d2d2d2;
  padding-left: 0.9em;
  padding-right: 0.9em;
  float: left;
}
@media screen and (max-device-width: 768px) {
  .field {
    display: none;
  }
}
@media screen and (min-device-width: 769px) {
  .search__button {
    border-radius: 0 4.15em 4.15em 0;
  }
}
.search__button {
  background-color: #ff9600;
  float: right;
  background-image: linear-gradient(0deg, #ff9600 0%, #ffc600 100%);
  width: 2.05em;
  height: 1.4em;
  text-indent: -9999px;
  position: relative;
}
.search__button:before {
  background-image: url("../images/icons/icons.png");
  background-position: 0 -80px;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 16px;
  height: 15px;
  left: 4px;
}
.search__button:hover:before {
  background-position: -20px -80px;
}
.search__button:focus:before {
  background-position: -20px -80px;
}
.products {
  margin-top: 5.4em;
}
